# Ignore everything
*

# Allow Git to keep this .gitignore file itself
!.gitignore

# Keep specific files
!publish-common.sh
!build.gradle*
!settings.gradle*
!gradlew
!gradlew.bat
!gradle/
!gradle/**
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!README.md
!init.sh

!build-logic/
!build-logic/**
!gradle-helpers/
!gradle-helpers/**
!scripts/
!scripts/**
!docs/
!docs/**
!static/
!static/**
!.vscode/
!.vscode/**

/dist/
/build/
/generated/
